.sandbox {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
}

.explore {
  width: 200px;
}

.editor, .preview {
  flex: 2;
}

.explore, .editor,.preview {
  height: 100%;
  overflow-y: scroll;
}

.editor .cm-gutterElement {
  font-size: 14px;
}

.preview .sp-preview, .editor .sp-editor{
  height: 100%;
}

.preview-box {
  height: calc(100% - 300px);
}

.console-box {
  height: 300px;
}
