.sandbox {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
}

.explore {
  flex: 1;
}

.editor, .preview {
  flex: 2;
}

.explore, .editor,.preview {
  height: 100%;
  overflow-y: scroll;
}
