* {
  margin: 0;
}
body {
  background-color: #243b4c;
  overflow: hidden;
}

.cm-activeLine {
  background-color: #596065 !important;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb{ 
  background-color:#c6ccd2; 
}

/*---滚动条大小--*/ 

::-webkit-scrollbar{ 
  width: 4px; 
  height: 6px; 
}

/*---滚动框背景样式--*/ 
/* ::-webkit-scrollbar-track-piece{ 
  background-color:#fff; 
  -webkit-border-radius:0; 
} */